.dashboard-container {
    width: 100%;

}

.dashboard-widget {
    background-color: var(--light-color);
    border: solid 1px lightgrey;
    /* border-radius: 5px; */
    width: 100%;
    height: 100%;
}

.dashboard-widget-header {
    padding:5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}

.dashboard-widget-header-title {
    margin-bottom: 0px;
}

.dashboard-widget-content {
    padding: 15px;
    box-sizing: border-box;
    overflow: scroll;
}

.dashboard-widget-content#map {
    height: 90%;
}

.dashboard-widget-content#bar {
    height: 85%;
}