.dashboard-container {
    width: 100%;
}

.dashboard-widget {
    background-color: var(--light-color);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: white;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
    box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
}

.dashboard-widget-header {
    padding: 10px 15px 5px 15px;
    height: 40px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightgray;
}

.dashboard-widget-header-title {
    margin-bottom: 0px;
    font-size: 12px;
    color: var(--richblack);
}

.dashboard-widget-content {
    padding: 15px;
    box-sizing: border-box;
    overflow: scroll;
}

.dashboard-widget-content#map.hide {
    display: none;
}

.dashboard-widget-header-settings-wrapper-icon {
    color: gray;
    font-size: 20px;
    display: block;
    float: right;
    transition: all 0.15s, 0.25s;
}

.dashboard-widget-settings-buttonbar {
    position: absolute;
    bottom: 6px;
    right: 16px;
}

.dashboard-widget-settings-button {
    display: inline-block;
    color: gray;
    margin-right: 8px;
    font-size: 20px;
    transition: all 0.15s, 0.25s;
}

.dashboard-widget-settings-button:hover, .dashboard-widget-settings-button:focus {
    color: var(--richblack);
    cursor: pointer;
}

.dashboard-widget-header-settings-wrapper-icon:hover {
    color: var(--richblack);
    cursor: pointer;
}

.dashboard-widget-content {
    overflow: scroll;
    height: calc(100% - 40px);
}

.dashboard-widget-content#table {
    padding: 0;
    display: block;
}

.delay-stream-item {
    padding:10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}

.delay-stream-item#stream-animate {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
     -ms-animation: fadein 1.5s; /* Internet Explorer */
      -o-animation: fadein 1.5s; /* Opera < 12.1 */
         animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.delay-stream-item-header-line-title {
    text-align: center;
    font-size: 14px;
    margin: 0px;
    color: gray;
}

.delay-stream-item-header-line-value {
    text-align: center;
    font-size: 14px;
    margin: 0px;
    /* color: gray; */
}

.delay-stream-delay-value {
    color: #cf6766;
}

.delay-stream-item-header-line-image {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
}

.dashboard-widget-content-settings {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dashboard-widget-content-settings.show {
    height: 85%;
    width: 100%;
    top: 40px;
    position: absolute;
    background-color: white;
    transition: all 0.15s ease-in;
}

.dashboard-widget-content-settings.show > * {
    display: block;
}

.dashboard-widget-content-settings.hide {
    height: 0;
    width: 100%;
    top: 40px;
    position: absolute;
    background-color: white;
    transition: all 0.15s ease-out;
}

.dashboard-widget-content-settings.hide > * {
    display: none;
}

.dashboard-widget-content-settings-container {
    height: 80%;
    overflow: scroll;
    padding: 15px 25px;
    box-sizing: border-box;
}

.dashboard-widget-content-settings-container-content {
    margin-bottom: 30px;
}

.dashboard-widget-content-settings-container-content-title {
    color: gray;
}

.dashboard-widget-content-settings-buttons-container {
    width: 250px;
    margin: 0 auto;
    margin-top: 12px;
}

.rc-slider-handle {
    border: 2px solid #d83120;
}

.rc-slider-handle:hover {
    border: 2px solid #d83120;
}

.rc-slider-handle:focus {
    border: 2px solid #d83120;
    box-shadow: 0 0 0 3px #d83120;
}

.rc-slider-dot-active {
    border-color: #d83120;
}

.rc-slider-track {
    background-color: #d83120;
}

.loader-widget {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.missing-data-text {
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
}