.sbar
{
    padding:10px;
    height: 100vh;
    background-color: var(--dark-color);

    -webkit-box-shadow: 5px 2px 22px 0px rgba(0,0,0, .5);
    -moz-box-shadow: 5px 2px 22px 0px rgba(0,0,0, .5);
         box-shadow: 5px 2px 22px 0px rgba(0,0,0, .5);
}

.sbar > h1, h2, h3, h4, h5, h6, p {
    color: white;
}
