/* This CSS file defines the base for our project.
 * It includes color schemes and more. It is included in
 * index.js, so there is no need to include this style
 * sheet in other files.
 */

:root {
    --light-color:  #f8f8ff;
    --dark-color:   #22264b;
    --graph-color1: #e6cf8b;
    --graph-color2: #b56969;
    --pink-color: #FF6384;
    --blue-color: #36A2EB;
    --green-color: #FFCE56;
    --fuzzywuzzy: #CF6766;
    --spacecadet: #22264B;
    --richblack: #031424;
    --pewterblue: #8EAEBD;
    --isabelline: #F9EDED;
    --background-color: #f2f4f6;
}

/* Remove horizontal scrollbar. */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
}
